# Python bytecode
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/
ENV/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# VSCode settings (optional)
.vscode/

# Ignore datasets if too large
data/*.csv

# Allow outputs (saved visualizations)
!outputs/
